
<article class="articles">
  <h2 class="articles__header">Posts</h2>
  <ul class="article-list">
    <% data.forEach(element => {  %>
      <li class="article-list__admin">

        <a href= <%= `/post/${element._id}` %>>
          <p class="article-list__title"><%= element.title %> </p>
        </a>

        <div class="article-list__buttons">
          <form method="POST" action="/admin/dashboard?_method=PUT">
            <input type="hidden" value="<%= element._id%>" name="postId" />
            <button type="submit" class="btn-secondary edit-button">Edit</button>
          </form>
          <form method="POST" action="/admin/dashboard?_method=DELETE">
            <input type="hidden" value="<%= element._id%>" name="postId" />
            <button type="submit" class="btn-secondary delete-button">Delete</button>
          </form>
        </div>
      </li>
    <% }) %>  
  </ul>
  
  <% if (!nextPage) { %>
    <div class="all-pagination all-pagination-right">
  <% } else { %>
    <div class="all-pagination">
    <a href=<%= `/admin/dashboard?page=${nextPage}`%> class="pagination pagination-older">&lt; View older posts</a>
  <% } %>
      <% if (currentPage !== 1) { %>
        <a href= <%= `/admin/dashboard?page=${currentPage - 1}` %> class="pagination pagination-newer"> View newer posts &gt;</a>
      <% } %>
  </div>
</article>