<header class="header">
  <div class="grid container container-flex">
    <div class="header__logo">
      <a href="/admin/dashboard" class="header__nav-link">∆ D M I N</a>
    </div>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/" class="header__nav-link <%= isCurrentRoute('home',currentRoute) %>">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/admin/about" class="header__nav-link <%= isCurrentRoute('about',currentRoute) %>">About</a>
        </li>
        <li class="header__nav-item">
          <a href="/admin/contact" class="header__nav-link <%= isCurrentRoute('contact',currentRoute) %>">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="header__login">
      <a
        class="header__login-button btn"
        aria-expanded="true"
        href="/admin/<%= state.toLowerCase()%>" <% if (state === 'Logout') { %>
        onclick="return confirm('Are you sure ?')"
        <% } %>
      >
        <%= state %>
      </a>
    </div>
  </div>
</header>
